<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>体部</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="../static/css/header.css">
</head>
<body>
<div id="co">
    <div class="home">
        <div id="tup">
            <img id="image" src="/static/images/service.jpg">
        </div>
    {#    <ul id="tup">#}
    {#        <li><img src="/static/images/service.jpg"></li>#}
    {#        <li><img src="/static/images/operation.jpg"></li>#}
    {#        <li><img src="/static/images/equip.jpg"></li>#}
    {#    </ul>#}
    </div>
    <div class="path">
        <div class="title">
            <div class="font">新闻通道</div>
        </div>
        <div id="lj">
            <ul>
                <li><a href="#" title="国人自主研发的世界首个经心尖二尖瓣夹合器进入上市前临床研究" target="_blank">国人自主研发的世界首个经心尖二尖瓣夹合器进入上市前临床研究</a></li>
                <li><a title="中国科学院院士国际知名肝肿瘤外科专家樊嘉院士名医工作室在复旦中山厦门医院揭牌成立" href="#" target="_blank">中国科学院院士国际知名肝肿瘤外科专家樊嘉院士名医工作室在复...</a></li>
                <li><a title="热烈祝贺我院检验科潘柏申教授获评 2018年度上海市市长质量奖（个人）称号！" href="#" target="_blank">热烈祝贺我院检验科潘柏申教授获评 2018年度上海市市长质...</a></li>
                <li><a title="Nature：中国科学家发现肝癌精准治疗新靶点！" href="#" target="_blank">Nature：中国科学家发现肝癌精准治疗新靶点！</a></li>
                <li><a title="00后女孩捐肝救父：“我不能眼睁睁看着你离开！”" href="#" target="_blank">00后女孩捐肝救父：“我不能眼睁睁看着你离开！”</a></li>
                <li><a title="上海肾病疑难病例论坛暨上海市肾脏疾病临床医学中心与上海市肾病与透析研究所2019年第一次学术活动顺利举行" href="#" target="_blank">上海肾病疑难病例论坛暨上海市肾脏疾病临床医学中心与上海市肾...</a></li>
                <li><a title="提升管理，打造中山后勤管理品牌 ——2019年总务处工作布置会举行" href="#" target="_blank">提升管理，打造中山后勤管理品牌 ——2019年总务处工作布...</a></li>
            </ul>
        </div>
    </div>
    <div class="hr"></div>
    <div class="path">
        <div class="title">
            <div class="font">患者通道</div>
        </div>
        <div class="lj">
            <ul>
                <li id="ts"><a href="#" style="background-color: #b9b198;"><div class="lj01">特色科室</div></a></li>
                <li><a href="#" style="background-color: #b5adb9;"><div class="lj01">专家门诊</div></a></li>
                <li><a href="#" style="background-color: #a9b9b1;"><div class="lj01">就医咨询</div></a></li>
            </ul>
        </div>
    </div>
    <div class="hr"></div>
    <div class="path">
        <div class="title">
            <div class="font">医院信息</div>
        </div>
        <div class="lj">
            <ul>
                <li><a href="#" style="background-color: #e7cce4;"><div class="lj01">医院概况</div></a></li>
                <li><a href="#" style="background-color: #cbe296;"><div class="lj01">公开信息</div></a></li>
                <li><a href="#" style="background-color: #93b99f;"><div class="lj01">人才招聘</div></a></li>
            </ul>
        </div>
    </div>
    <div class="hr"></div>
    <div class="path">
        <div class="title">
            <div class="font">科学研究</div>
        </div>
        <div class="lj">
            <ul>
                <li><a href="#" style="background-color: #9bb0b9;"><div class="lj01">科研信息</div></a></li>
                <li><a href="#" style="background-color: #b98c85;"><div class="lj01" style="margin-left: 50px;">医学研究院</div></a></li>
                <li><a href="#" style="background-color: #aa9cb9;"><div class="lj01" style="margin-left: 30px;">医学杂志编辑部</div></a></li>
            </ul>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    {#点击特色科室#}
    $('#ts').click(function () {
        $('#co').load('depart.html');
    })

</script>
</html>