<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>科室导航</title>
</head>
<div style="min-height: 500px;">
    <div class="img_c" id="keshi">
        <ul>
{#            科室图片导航#}
            <li><a href="#" id="ks"><img src="/static/images/gannei.png"></a> </li>
            <li><a href="ks02.html"><img src="/static/images/ganwai.png"></a> </li>
            <li><a href="ks03.html"><img src="/static/images/xnei.png"></a> </li>
            <li><a href="ks04.html"><img src="/static/images/xwai.png"></a> </li>
            <li><a href="ks05.html"><img src="/static/images/hx.png"></a> </li>
            <li><a href="ks06.html"><img src="/static/images/lc.png"></a> </li>
            <li><a href="ks07.html"><img src="/static/images/zlnei.png"></a> </li>
            <li><a href="ks08.html"><img src="/static/images/pwai.png"></a> </li>
        </ul>
    </div>
    <div class="doctor hide" id="d01">
        <div class="hr"></div>
        医生信息： 略略略...
    </div>
</div>
</body>
<script type="text/javascript">
    $('#ks').click(function () {
        document.getElementById('d01').classList.remove('hide');
        {#document.getElementById('bg').classList.remove('hide');#}

});
</script>
</html>