<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>尾部</title>
    <link rel="stylesheet" src="/static/css/header.css" type="text/css"></link>
</head>
<body>
<div class="footer">
    <div>
        <img id="img_f" src="../static/images/hospital.png">
    </div>
    <div class="wel_f">
        <font>XX大学XX医院</font>
    </div>
    <div class="info_f">
        <font>版权所有：XX大学XX医院 亮亮就是亮亮 ? @ ZHANGYIXIN 2019</font>
        <br>
        <font>地址：中国-河南-昌平大道139号 技术支持：XX大学XX信息技术有限公司</font>
        <br>
        <font>XX网安备 420489259752924号</font>
    </div>
</div>
</body>
</html>