<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>健康知识</title>
</head>
<body>
<h2 style="text-align: center;">健康知识</h2>
<div class="hr"></div>
<div class="healthy">
    <h3>就医篇</h3>
    <div>
        1.首次就诊不用挂专家号
        <br>首诊主要是询问病史、开具相关检验检查，挂普通号就可以。
        <br>2.不管服用任何药物，都要忌吸烟
        <br>烟中含有的盐碱会加快肝脏降解药物的速度，导致血液中药物浓度下降。
        <br>3.乳腺增生不用治
        <br>一个体检下来，10个女性8个有“乳腺增生”问题，绝大多数是良性的，注意定期复查即可。
        <br>4.看到治疗宫颈糜烂的医院赶紧跑
        <br>“宫颈糜烂”这个名称已经被取消，如果被诊断为这个东西，说明医院或者医生不靠谱。
        <br>5.得糖尿病不是因为吃糖多
        <br>Ⅰ型糖尿病的主因是遗传，Ⅱ型糖尿病的主要原因是肥胖。
        <br>6.抓伤咬伤后注射狂犬疫苗非常重要
        <br>狂犬病的致死率几乎是100%，有效的预防手段是注射疫苗，哪怕没有出血。
        <br>7.别重复用药
        <br>以感冒药为例，多数感冒药都含有解热镇痛的化学成分乙酰氨基酚，如同时服用多种感冒药，或是中西药物混合使用，总剂量会在不知不觉中超量，造成肝脏受损。
        <br>8.体检非常重要
        <br>越早诊断和开始治疗，效果越好。
        <br>9.打鼾其实是病
        <br>严重的还会引起呼吸暂停，甚至有些人还会在睡梦中死亡。
        <br>10.感冒不一定要吃药，但要小心并发症
        <br>感冒不一定要吃药，但若超过7天，病情还不好转，应及时寻求医生的帮助。
        <br>11.腹泻不用禁食
        <br>传统的腹泻治疗方法，主张让孩子禁食一段时间。其实这样不利于身体的营养补充。
        <br>12.不要往伤口上抹任何粉状的东西
        <br>不管是割伤还是烫伤，受伤后在伤口表面涂抹的粉状物会造成严重的疤痕增生。
        <br>13.抗生素一定要遵医嘱足量、足时使用
        <br>细菌耐药性的产生，就是因为细菌不能被抗生素完全杀死，残留下部分耐药性强的成为优势菌群。
        <br>14.流鼻血仰头没用
        <br>仰头会导致血液被吞下，而产生不适感或呕吐。出血量大时，还容易吸入气管及肺内。
        <br>15.不要相信任何能快速治愈严重皮肤病的方法
        <br>对于银屑病、白癜风等疾病，病因主要是自体免疫的异常。所谓偏方几乎都使用了重金属毒剂。这类方法确实可缓解症状，但肾脏和肝脏也会受影响。
        <br>16.脚气是一个全身性疾病
        <br>只要脚上有可见的感染灶，一般全身都会有真菌分布，要根治需配合口服抗真菌药。
    </div>
    <h3>误区篇</h3>
    <div>
        17.胃溃疡跟吃什东西关系不大
        <br>胃溃疡的主因是幽门螺旋杆菌干扰，主要传播渠道是共餐，可以通过抗生素治愈。
        <br>18.身上的包块，不痛的比痛的更危险
        <br>当发觉身上有不明原因的肿块，不痛且活动性不好时，恶性的可能性会大大提升。
        <br>19.天然维生素并不比合成的维生素更好
        <br>天然维生素和合成维生素在作用上没有任何区别，相反天然维生素在生产提取过程中，更可能引入污染及混入不纯物质。
        <br>20.拔掉一根白发不会长十根
        <br>决定长出来的头发是黑发还是白发，要看体内黑色素的分泌情况，与拔不拔头发没有关系。
        <br>21.夜里磨牙不代表要用驱虫药
        <br>引起磨牙的原因有很多，比如精神紧张、牙合干扰，甚至一些全身性的疾病。
        <br>22.仙人掌不能防辐射
        <br>仙人掌能够抵挡阳光、紫外线的破坏，但阳光中产生的是一种“辐射能”，与电脑屏幕或其他电器用品产生的辐射线是不同概念。
        <br>23.没有“宿便”这个说法
        <br>直肠平时是空的，并不积存大便
        <br>24.房间里蒸醋并不能杀菌
        <br>房间里蒸醋有一定杀菌作用，但它要求的浓度比食醋要高。
        <br>25.喝骨头汤不能补钙
        <br>骨头汤虽然有较高营养价值，但钙含量并不高，对补钙的实际意义不大。
        <br>26.超市小票虽有双酚A，但摸多不会致癌
        <br>双酚A是一种低毒性质的化合物，只有在接触量大、接触时间长的情况下，才会对人体产生实质危害。
        <br>27.吃鸭血、猪血不能去肺里的灰尘
        <br>目前还没有任何实验和临床证明，靠食物的小分子可以清除肺中粉尘。
        <br>28.坐月子的很多讲究没必要
        <br>过去坐月子讲究不能刷牙、洗头、洗澡、吹风、出门，要大补，现在看来没有道理。
        <br>29.补胶原蛋白不如吃鸡蛋
        <br>高分子胶原蛋白不可能通过皮肤吸收。真正能补充的蛋白质，吃一个鸡蛋就足够。
        <br>30.孕妇防辐射服作用有限
        <br>虽然防辐射服产品的面料确实可以防辐射，但这些衣服开口大且多，抵挡电磁辐射的作用有限。
        <br>31.洗碗不一定要用清洁剂
        <br>如果菜不油腻，洗碗布加热水也能搞定。洗涤剂中很多化学成分接触过多会干扰人体正常代谢。
    </div>
    <h3>饮食篇</h3>
    <div>
        32.打果汁不如打蔬菜汁<br>
        两杯果汁下去等于喝进去4—6个水果的糖分，不如把大量蔬菜和少量水果一起打碎，连渣子一起喝下去。<br>
        33.“健康零食”基本就三种：<br>
        水果、坚果和酸奶。<br>
        34.酸奶要饭后1-2小时喝<br>
        如果一餐吃得非常饱，饭后马上喝一杯酸奶，只能增加肠道负担。<br>
        35.饭前吃半个柚子，饱肚又减肥<br>
        柚子维生素C含量丰富，纤维含量也很多，易产生饱腹感，同时热量却很低。此外，它含有丰富果酸，能有效刺激胃肠粘膜，影响营养物质吸收，从而抑制食欲。<br>
        36.莲藕是薯类<br>
        莲藕也是薯类，是水生的根茎类食物，也就是所谓的主食，碳水化合物含量甚至比山药都高。<br>
        37.只要不再高温加热，剩油可以用<br>
        如炸完茄盒可炸花椒，做花椒油调味；做饼时，可以放过滤过的剩油；还可以用来焯菜或做汤，焯的时候在沸水中放入一勺油，可使菜叶颜色鲜亮。<br>
        38.补身体只喝汤没用<br>
        就算炖得再久，汤也仅仅是非常稀薄的脂肪和水溶性氨基酸溶液，主要营养成分还在肉里。<br>
        39. 别给1岁以下孩子吃蜂蜜<br>
        婴儿抵抗力较差，若不慎食用了被肉毒杆菌污染的蜂蜜，会引起婴儿肉毒杆菌中毒。<br>
        40.在外吃饭少吃花生<br>
        外面花生是否霉变很难区分，花生、玉米、黄豆、坚果等食物发霉，产生的黄曲霉毒素可能使人急性中毒甚至死亡，长期低剂量也会增加癌症风险。<br>
        41. 能回家吃饭就回家吃饭<br>
        一周在家吃晚餐5—7次的人，比起一周只在家吃2次晚餐的对照组，患糖尿病几率降低15%。<br>
        42.看到食物相克，别信<br>
        南京大学生化系教授郑集曾经挑出7对人们常能吃到的“相克”食物，亲自和两位同事一起吃了两天，结果什么事清也没有发生。<br>
        43.晚上饿了别硬撑<br>
        虽然提倡不吃夜宵，但若夜里出现明显饥饿感，还是应及时吃点东西。<br>
        44.吃蛋黄派会吃出醉驾<br>
        蛋黄派里含有食用酒精。豆腐乳、藿香正气水、漱口水，这些都含酒精，司机要慎用。<br>
        45.柚子不能与降压药同吃<br>
        柚子对非洛地平、硝苯地平、尼卡地平、尼莫地平等地平类口服制剂可不同程度升高其血药浓度，造成低血压，但对氨氯地平无影响。<br>
        46.最有效的止咳方式是吃糖<br>
        在咳嗽时，含一块硬糖，不断吞下的糖浆可以在喉部形成保护层，减轻喉部刺激。<br>
        47.路边摊别吃<br>
        大型医院周边很多路边摊卖快餐，卫生条件是很不能保证的。<br>
        48.起晚了也该吃点东西<br>
        周末睡醒已10点，但也要先吃点东西，你的胃已经等了一夜，别等着和中午饭一起吃。<br>
        49.儿童食品纯属商家妙作<br>
        所谓“儿童食品”其实只是在成人版食品上加些果蔬汁、维生素、益生菌等，减些盐和糖，实际效果不大。<br>
        50.疲劳时别喝咖啡浓茶<br>
        否则会对心血管系统造成巨大的伤害，心慌就是这种症状的表现之一。<br>
        51.自己在家酿酒非常危险<br>
        最常见的危险因素是甲醇，自酿酒无法控制甲醇含量。<br>
        52.解酒药解酒只是个噱头<br>
        市面上销售的“解酒药”只能说是具有保肝功能的保健品。目前没有大型临床研究证明这些成分能有效解酒。<br>
        53.冰箱不是保险箱<br>
        即便放在冷藏室里，绿叶蔬菜也只能保存3天左右，其他蔬菜最好一周内吃完，避免营养价值下降。<br>
                <h3>生活篇</h3>
        54.加湿器里不要加精油<br>
        很多加湿器商家还会送你精油，然而那除了伤害你的肺并没有什么好处。<br>
        55.女孩子不要瞎减肥<br>
        女性的正常代谢是需要一定的脂肪的，当体脂肪率低于20%的时候，有可能就会出现月经不调，再低可能就会影响生育了。<br>
        56.减肥只有一个方法<br>
        就是让摄入的能量低于消耗掉的，简单总结就是迈开腿，管住嘴。<br>
        57.三无指甲油就别用了<br>
        一些劣质的指甲油，其铅、砷、汞等重金属超标，还有一些添加了禁用的色素、荧光剂。长期使用这些劣质的指甲油，会出现慢性中毒，甚至致癌。<br>
        58.打耳洞要慎重<br>
        打耳洞也属于手术。如果你是疤痕体质，打耳洞易变成疤痕疙瘩，得手术切除。要是消毒没做好，乙肝丙肝都可能传染。<br>
        59.随身携带肠胃药<br>
        出游时，受凉或者饮食不当，食物清洗不干净或受到污染，易出现感染性腹泻。<br>
        60.卧室灯光暗一些<br>
        卧室的主要功能是休息睡眠，因此不宜太亮、太花哨、太刺激，尤其是顶灯。<br>
        61.通风最能去除甲醛<br>
        给予居室强制通风3个月后，室内的甲醛浓度降幅达到75%。<br>
        62.美白牙膏没那么神奇<br>
        经常喝咖啡、喝茶、吸烟的人，美白牙膏的确能起到一定效果。不过受到刷牙时间的限制，以及刷牙时有效成分被稀释的影响，不可能刷几
                次就能白。<br>
        63.早晨水龙头第一杯水别喝<br>
        上海市质监局在对水龙头抽查时发现,超过2/3的水龙头重金属析出量超标,第一杯最好不要入口。<br>
        64.花粉患者白天减少出门<br>
        上午10点至下午4点空气中花粉等粉尘浓度最大，这段时间花粉症患者最好尽量减少室外活动时间。<br>
        65.头发能不染就不染<br>
        1999年以来，上海各大医院血液科相继收治过一些不明原因的白细胞、红血球、血小板大幅度减少的血液病人。经医院病例分析和调查，
                这些患者均是彩色染发者，且都有两年左右的染发史。实在想染发的，最多半年一次。<br>
        66.老咬舌头可能是中风<br>
        偶尔咬到舌头是正常现象，不是想吃肉了。经常会被咬着，常见出现的问题可能是中风，脑神经受压迫使舌不能灵活运动。<br>
        67.常坐沙发不利于健康<br>
        沙发质地太软，腰椎缺乏足够支撑，久而久之会导致腰部肌肉劳损、骨质增生，甚至诱发腰椎间盘突出。<br>
        68.上厕所要勤快<br>
        长时间的憋尿，会造成自身抗感染能力下降，导致膀胱炎等尿路感染，严重的会影响肾脏功能、增大患膀胱癌的可能性。<br>
        69.“滴水观音”有毒<br>
        虽然是常见的家养绿色盆栽。但是，滴水观音根、茎中的白色汁液有毒，气味则无毒。<br>
        70.何首乌有毒<br>
        生首乌有一定毒性，医院用的都是毒性更小的制首乌，但自行购买很难分辨，所以不要自行服用。<br>
    </div>
</div>
</body>
</html>