<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>导航栏</title>
    <script src="/static/css/header.css" type="text/css"></script>
    <script src="/static/js/jquery-3.3.1min.js"></script>
</head>
<body>
<div class="tz">
{#            导航栏#}
    <ul id="ul1">
        <li><a href='#' id="home">首页</a> </li>
        <li><a href="#" id="survey">医院概况</a>
            <ul id="submenu">
                <li><a href="#" id="introduction">医院介绍</a> </li>
                <li><a href="#" id="leader">现任领导</a> </li>
                <li><a href="#" id="appearance">院容院貌</a> </li>
                <li><a href="#" id="culture">医院文化</a> </li>
            </ul>
        </li>
        <li><a href="#" id="announce">通知公告</a> </li>
        <li><a href="#" id="service">病友服务</a>
            <ul id="submenu">
                <li><a href="#" id="time">出诊时间</a> </li>
                <li><a href="#" id="navigate">院内导航</a> </li>
                <li><a href="#" id="knowledge">健康知识</a> </li>
                <li><a href="#" id="educate">健康教育</a> </li>
            </ul>
        </li>
        <li><a href="#" id="navi">科室导航</a> </li>
    </ul>
</div>
</body>
{#<script type="text/javascript">#}
{#    $('#home').click(function () {#}
{#        $('#content').load('footer.html');#}
{#    })#}
{#</script>#}
</html>