<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>病友服务</title>
    <script type="text/javascript" src="../static/js/home.js"></script>
    <link rel="stylesheet" href="../static/css/nav.css">
</head>
<body>
<div class="left">
    <div class="l_top">
        <div class="l_font">病友服务</div>
    </div>
    <div class="l_bottom">
        <ul>
            <li><a href="#" id="l_time">出诊时间</a> </li>
            <li><a href="#" id="l_navigate">院内导航</a> </li>
            <li><a href="#" id="l_knowledge">健康知识</a> </li>
            <li><a href="#" id="l_educate">健康教育</a> </li>
        </ul>
    </div>
</div>
<div class="right">
    <div class="r_content">
    </div>
</div>
</body>
</html>