<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>出诊时间</title>
</head>
<body>
<h2 style="text-align: center;">门诊派班表</h2>
<div class="hr" style="margin-bottom: 10px;"></div>
<table border="1">
    <tr>
        <th>科室</th>
        <th>楼层</th>
        <th>周一</th>
        <th>周二</th>
        <th>周三</th>
        <th>周四</th>
        <th>周五</th>
        <th>周六</th>
    </tr>
    <tr>
        <td rowspan="4">心血管内科</td>
        <td rowspan="4">诊室在二楼</td>
        <td>关铃夏</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>王秀兰</td>
    </tr>
    <tr>
        <td>颜如彬</td>
        <td>颜如彬</td>
        <td>王秀丽</td>
        <td>王秀丽</td>
        <td>丁水荫</td>
        <td>颜如彬</td>
    </tr>
    <tr>
        <td>关铃夏</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>王秀兰</td>
    </tr>
    <tr>
        <td>安邦</td>
        <td>安邦</td>
        <td></td>
        <td>安邦</td>
        <td>安邦</td>
        <td>安邦</td>
    </tr>
    <tr>
        <td rowspan="2">呼吸内科</td>
        <td rowspan="2">诊室在二楼</td>
        <td>关铃夏</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>王秀兰</td>
    </tr>
    <tr>
        <td>颜如彬</td>
        <td>颜如彬</td>
        <td>王秀丽</td>
        <td>王秀丽</td>
        <td>丁水荫</td>
        <td>颜如彬</td>
    </tr>
    <tr>
        <td rowspan="2">消化内科</td>
        <td rowspan="2">诊室在二楼</td>
        <td>关铃夏</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>王秀兰</td>
    </tr>
    <tr>
        <td>颜如彬</td>
        <td>颜如彬</td>
        <td>王秀丽</td>
        <td>王秀丽</td>
        <td>丁水荫</td>
        <td>颜如彬</td>
    </tr>
    <tr>
        <td rowspan="4">神经内科</td>
        <td rowspan="4">诊室在二楼</td>
        <td>关铃夏</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>王秀兰</td>
    </tr>
    <tr>
        <td>颜如彬</td>
        <td>颜如彬</td>
        <td>王秀丽</td>
        <td>王秀丽</td>
        <td>丁水荫</td>
        <td>颜如彬</td>
    </tr>
    <tr>
        <td>关铃夏</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>王秀兰</td>
    </tr>
    <tr>
        <td>颜如彬</td>
        <td>颜如彬</td>
        <td>王秀丽</td>
        <td>王秀丽</td>
        <td>丁水荫</td>
        <td>颜如彬</td>
    </tr>
    <tr>
        <td rowspan="2">内分泌科</td>
        <td rowspan="2">诊室在二楼</td>
        <td>关铃夏</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>王秀兰</td>
    </tr>
    <tr>
        <td>颜如彬</td>
        <td>颜如彬</td>
        <td>王秀丽</td>
        <td>王秀丽</td>
        <td>丁水荫</td>
        <td>颜如彬</td>
    </tr>
    <tr>
        <td>全科医疗科</td>
        <td>诊室在二楼</td>
        <td>关铃夏</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>王秀兰</td>
    </tr>
    <tr>
        <td>中医康复科</td>
        <td>诊室在二楼</td>
        <td>颜如彬</td>
        <td>颜如彬</td>
        <td>王秀丽</td>
        <td>王秀丽</td>
        <td>丁水荫</td>
        <td>颜如彬</td>
    </tr>
    <tr>
        <td>血液内科</td>
        <td>诊室在二楼</td>
        <td>关铃夏</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>刘艳泓</td>
        <td>王秀兰</td>
    </tr>
    <tr>
        <td>风湿免疫科</td>
        <td>诊所在二楼</td>
        <td>刘农军</td>
        <td>孟庆福</td>
        <td>高庆功</td>
        <td>刘继</td>
        <td>戴简宇</td>
        <td>周至深</td>
    </tr>
</table>
</body>
</html>